---
import type { CaseStudy } from "../../data/caseStudies";
import FeaturedCaseStudyCard from "../Cards/FeaturedCaseStudyCard.astro";

interface Props {
  caseStudies: CaseStudy[];
}

const { caseStudies } = Astro.props as Props;
---

<section class="py-8 border-y border-gray-200 bg-white overflow-hidden">
  <div class="page-container">
    <div class="flex gap-6 overflow-x-auto pb-2 scrollbar-thin scrollbar-thumb-gray-300 scrollbar-track-gray-100" style="scrollbar-width: thin;">
      {caseStudies.map((cs) => (
        <FeaturedCaseStudyCard caseStudy={cs} />
      ))}
    </div>
  </div>
</section>
