---
import "../styles/global.css";
import Navbar from "../components/Navbar/Navbar.astro";
import Footer from "../components/Footer/Footer.astro";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Run your entire practice with one EHR+ platform | Tebra clone",
  description = "Tebra’s EHR+ platform connects care, billing, scheduling, and more with AI-powered tools for private practices.",
} = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600;9..144,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-sans bg-white text-gray-900">
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

